div(class="reportItem item-#{item.type}")
    .element.message
        .label Message
        .content #{item.message}
    .element.context
        .label.js-context context
        .content #{item.context}